numpy
pandas
openpyxl
pyjanitor
missingno
jupyter
jupyterlab
keras
lightgbm
matplotlib
seaborn
scipy
joblib
imbalanced-learn
pylint
fs
pyprojroot
pyspark
scikit-learn==1.3.0
statsmodels
category-encoders
yellowbrick
chart-studio
dvc
fastapi
uvicorn
gunicorn
pytest
httpx